div.app {
  background: #3d63ac;
  height: 200px;
  /*IMPORTANTE*/
  display: grid;
  justify-content: center;
  align-items: center;
}

div.ficha {
  justify-content: center !important;
  align-items: center !important;
}

canvas {
  /*IMPORTANTE*/

  justify-content: center;
  align-items: center;
}

div.ant-card.ant-card-bordered.ant-card-hoverable {
  margin-top: 20%;
}

div.upload-avatar {
  text-align-last: center;
  margin-top: 6%;
}

div.ant-card-body {
  align-items: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
